<h2>View Appointment Details</h2>
<div>

<div>

<label style="font-weight: 600;">Patient Name</label> {{appointment.patientName}}
</div>

<div>

    <label style="font-weight: 600;">Doctor Name</label> {{appointment.doctorName}}
    </div>

    <div>

        <label style="font-weight: 600;">Appointment Date</label> {{appointment.appointmentDate}}
        </div>

        <div>

            <label style="font-weight: 600;">Appointment Time</label> {{appointment.appointmentTime}}
            </div>

            <div>

                <label style="font-weight: 600;">Appointment Reason</label> {{appointment.appointmentReason}}
                </div>

            </div>
<!-- appointmentId: number = 0;
patientName: String = '';
doctorName: String = '';
appointmentDate: Date = new Date();
appointmentTime: String = '';
appointmentReason: String = ''; -->











