<h2>View Patient Details</h2>
<div>
    <div>
        <label style="font-weight: 600;">First Name</label> {{patient.firstName}}
    </div>

    <div>
        <label style="font-weight: 600;">Last Name</label> {{patient.lastName}}
    </div>

    <div>
        <label style="font-weight: 600;">Gender</label> {{patient.gender}}
    </div>

    <div>
        <label style="font-weight: 600;">Date of Birth</label> {{patient.dateOfBirth}}
    </div>

    <div>
        <label style="font-weight: 600;">Mobile Number</label> {{patient.mobileNumber}}
    </div>

    <div>
        <label style="font-weight: 600;">Email Address</label> {{patient.emailAddress}}
    </div>

    <div>
        <label style="font-weight: 600;">Address</label> {{patient.address}}
    </div>

    <div>
        <label style="font-weight: 600;">Medical History</label> {{patient.medicalHistory}}
    </div>

</div>


<!-- patientId: number = 0;
firstName: string = '';
lastName: string = '';
gender: string = '';
dateOfBirth: Date = new Date();
mobileNumber: string = '';
emailAddress: string = '';
address: string = '';
medicalHistory: string = ''; -->